.card-container {
    font-size: 2rem;
    width: 500px;
    max-height: 500px;
    border: 2px solid #000;
	border-radius: 4px;
    margin: 10px auto;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.todo-list {
    list-style: none;
}

.center {
    text-align: center;
}

.strike {
    text-decoration: line-through;
}

.list-container {
    padding: 2px;
    border: 1px solid rgb(207, 162, 162);
    border-radius: 2px;
    cursor: pointer;
    margin: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-container:hover {
    border: 1px solid rgb(54, 31, 31)
}

.list-item {
    margin: 4px;
    display: flex;
    justify-content: space-between;
    margin: 0 10px
}

.header {
    text-align: center;
}

input {
	box-shadow: none;
	width: 100%;
	padding: 5px;
	background: #fff;
	border: 2px solid #596dae;
	border-radius: 2px;
    font-size: 2rem;
}
